body {
    margin: 0 20px;
}
.nav-top {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    display: none;
}
.nav-container {
    position: relative;
}
.nav-text {
    background-color: white;
    max-width: 320px;
    margin: 60px 0;
    padding: 0;
}
.nav-text .pink-text {
    color: #FF3998;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
} 
.nav-text h2 {
    font-size: 50px;
    margin: 20px 0;
}
.nav-btn {
    color: black;
    background-color: white;
    border: 3px solid #FF8139;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 32px;
    margin: 30px 0;
    transition-duration: 0.4s;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: #FF8139;
    color: white;
}
.pink-nft {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 50px;
    left: 190px;
}

/* Main */

.pink-background {
    position: absolute;
    left: -15px;
    
}
.pink-background-text {
    position: relative;
    width: 260px;
    top: 150px;
    
}
.companies {
    margin-top: 230px;
    width: 675px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.companies img {
    margin: 5px 85px 10px 0;
    width: 140px;
    height: 40px;    
}
.above-NFT-text {
    width: 260px;
}
.above-NFT-text a {
    color: #777777;
}
.NFT-container {
    display: flex;
    gap: 30px;
}
.card-1,.card-2,.card-3,.card-4 {
    background-color: #CCCCCC;
    border-radius: 15px;
    
}
.NFT-text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.NFT-text-container .box-1 #orange-text {
    color: #FF8139;  
}
.NFT-text-container .box-1 p {
    color: #777777;
}
.NFT-text-container .box-2 {
    text-align: right;
}
.NFT-text-container .box-2 p {
    color: #777777;
}
#eth {
    margin: auto;
    width: 20px;
    height: 20px;
}

/* FOOTER */

.footer-container {
    position: relative;
    
}
.footer-text {
    background-color: white;
    max-width: 180px;
    margin: 60px 0;
    padding: 0;
}
.footer-text .pink-text {
    color: #FF3998;
    margin: 20px 0;
    padding-top: 40px;
    font-size: 15px;
    font-weight: bold;
    
} 
.footer-text h2 {
    font-size: 50px;
    margin: 20px 0;
}
.footer-btn {
    color: black;
    background-color: white;
    border: 3px solid #FF8139;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 32px;
    margin: 30px 0;
    transition-duration: 0.4s;
    cursor: pointer;
}
.footer-btn:hover {
    background-color: #FF8139;
    color: white;
}
.footer-nft {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1px;
    left: 95px;
}
hr {
    width: 500px;
    left: -20px;
    position: relative;
}
.footer-col-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.colum-1,.colum-2,.colum-3,.colum-4 {
    flex-basis: 30%;
}
.fa-copyright {
    padding: 20px 0;
}
#date {
    display: none;
}
@media screen and (min-width: 426px) {
    body {
        margin: 20px 100px;
    }    
    .nav-top {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-links {
        list-style: none;
        display: flex;
        gap: 30px; 
        margin-left: auto;  
    }
    .navbar-links a {
        text-decoration: none;
        color: #777777;  
    }
    .navbar-links a:hover {
        background-color: black;
        color: white;  
    }
    #pink-sign-up {
        color: #FF3998;
    }
    .fa-bars {
        display: none;  
    }
    .nav-container {
        position: relative;
        margin-top: 125px;
    }
    .nav-text {
        background-color: white;
        max-width: 350px;
        margin: 60px 0;
        padding: 0;
    }
    .nav-text .pink-text {
        color: #FF3998;
        margin: 10px 0;
        font-size: 15px;
        font-weight: bold;
    } 
    .nav-text h2 {
        font-size: 65px;
        margin: 20px 0;
    }
    .nav-btn {
        color: black;
        background-color: white;
        border: 3px solid #FF8139;
        border-radius: 30px;
        font-size: 15px;
        padding: 15px 32px;
        margin: 30px 0;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .nav-btn:hover {
        background-color: #FF8139;
        color: white;
    }
    .pink-nft {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: -90px;
        left: 55%;
        width: 600px;
        height: 600px;
    }

    /* MAIN */
    .pink-background {
        position: absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }
    .pink-background-text {
        position: relative;
        width: 380px;
        top: 180px;
        left: 50px;    
    }
    .companies {
        margin-top: 350px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;   
    }
    .companies img {
        margin: 0;
        width: 140px;
        height: 40px;    
    }
    .above-NFT-text {
        margin-top: 100px;
        width: 100%;
    }
    .above-NFT-text a {
        color: #777777;
    }
    .NFT-container {
        display: flex;
        gap: 27px;
        margin-top: 50px;
        width: 100%;    
    }
    .card-1,.card-2,.card-3,.card-4 {
        background-color: #CCCCCC;
        border-radius: 15px;   
    }
    .NFT-text-container {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .NFT-text-container .box-1 #orange-text {
        color: #FF8139;  
    }
    .NFT-text-container .box-1 p {
        color: #777777;
    }
    .NFT-text-container .box-2 {
        text-align: right;
    }
    .NFT-text-container .box-2 p {
        color: #777777;
    }
    #eth {
        margin: auto;
        width: 20px;
        height: 20px;
    }

    /* FOOTER */

    .footer-container {
        position: relative;
        
    }
    .footer-text {
        background-color: white;
        max-width: 100%;
        margin: 10% 0;
        padding: 0;
    }
    .footer-text .pink-text {
        color: #FF3998;
        margin-top: 5%;
        padding-top: 40px;
        font-size: 15px;
        font-weight: bold;
        
    } 
    .footer-text h2 {
        font-size: 40px;
        margin: 20px 0;
    }
    .footer-btn {
        color: black;
        background-color: white;
        border: 3px solid #FF8139;
        border-radius: 30px;
        font-size: 15px;
        padding: 15px 32px;
        margin-bottom: 7%;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .footer-btn:hover {
        background-color: #FF8139;
        color: white;
    }
    .footer-nft {

        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 1px;
        left: 60%;
    }
    hr {
        width: 100%;
        left: auto;
    }
    hr:nth-child(4) {
        display: none;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-col-2 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
    }
    .colum-1,.colum-2,.colum-3,.colum-4 {
        flex-basis: 10%;
    }
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-copyright {
        padding: 20px 0;
    }
    #date {
        display: block;
    }
}